nav{
    background-color: white;
}
.navbar-mobile{
    display: flex;
    width: 100%;
    height: 4rem;
    position: fixed;
    bottom: 0px;
    border-top: #000 solid 1px;
     
}
.navbar-desktop{
    display: none;
    border-right: 1px solid #000;
    height: 100%;
}
ul{
    display: flex;
    width: 100%;
}
.navbar-mobile ul{ 
    justify-content: space-around;
    align-items: center;
}
.navbar-desktop ul{
    padding: 1rem;
    flex-direction: column;
    gap: 2rem;
}
li{
    list-style: none;
}
li a{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    text-decoration: none;
    color: black;
}
.routerIcons{
    width: 24px;
    height: 24px;
}
@media (min-width: 768px) {
}