/* General styles */
.profile {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow-md */
  max-width: 1224px;  
  padding: 1.5rem;
  margin: auto;
}
.profile-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.avatar {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 16px;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 8px;
}
.icon-text {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1rem;
}

/* User Info layout */
.user-details {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 1rem;
  border-bottom: solid 1px #d1d5db;
}

.user-info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.section-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 4px;
}

.section-info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* Badges */
.badge-container {
  display: flex;
  gap: 0.5rem;
  margin-top: 8px;
}

.profile-activities {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* Responsive design */
@media (max-width: 1023px) {
  
  
}
@media (max-width: 767px) {
  .user-details{
    grid-template-columns: 1fr;
  }
}


