<div class="profile" *ngIf="user | async as userData">
  <div class="profile-header">
    <img
      src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e"
      class="avatar"
    />
    <h1 class="title">{{userData.username}}</h1>
    <h2>{{userData.firstName}} {{userData.lastName}}</h2>
  </div>

  <div class="user-details">
    <div class="user-info">
      <div class="section-info">
        <h2 class="section-title">Personal Information</h2>
        <p class="text-gray icon-text">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="20px"
            viewBox="0 -960 960 960"
            width="20px"
            fill="undefined"
          >
            <path
              d="M216-96q-29.7 0-50.85-21.5Q144-139 144-168v-528q0-29 21.15-50.5T216-768h72v-96h72v96h240v-96h72v96h72q29.7 0 50.85 21.5Q816-725 816-696v528q0 29-21.15 50.5T744-96H216Zm0-72h528v-360H216v360Zm0-432h528v-96H216v96Zm0 0v-96 96Z"
            />
          </svg>
          <span>Birth Date: {{userData.birthdate}}</span>
        </p>
        <p class="text-gray icon-text">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="20px"
            viewBox="0 -960 960 960"
            width="20px"
            fill="undefined"
          >
            <path
              d="M480-480q-60 0-102-42t-42-102q0-60 42-102t102-42q60 0 102 42t42 102q0 60-42 102t-102 42ZM192-192v-96q0-23 12.5-43.5T239-366q55-32 116.29-49 61.29-17 124.5-17t124.71 17Q666-398 721-366q22 13 34.5 34t12.5 44v96H192Zm72-72h432v-24q0-5.18-3.03-9.41-3.02-4.24-7.97-6.59-46-28-98-42t-107-14q-55 0-107 14t-98 42q-5 4-8 7.72-3 3.73-3 8.28v24Zm216.21-288Q510-552 531-573.21t21-51Q552-654 530.79-675t-51-21Q450-696 429-674.79t-21 51Q408-594 429.21-573t51 21Zm-.21-72Zm0 360Z"
            />
          </svg>
          <span>Sex: {{userData.sex}}</span>
        </p>
        <p class="text-gray icon-text">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="20px"
            viewBox="0 -960 960 960"
            width="20px"
            fill="undefined"
          >
            <path
              d="M763-145q-121-9-229.5-59.5T339-341q-86-86-135.5-194T144-764q-2-21 12.29-36.5Q170.57-816 192-816h136q17 0 29.5 10.5T374-779l24 106q2 13-1.5 25T385-628l-97 98q20 38 46 73t57.97 65.98Q422-361 456-335.5q34 25.5 72 45.5l99-96q8-8 20-11.5t25-1.5l107 23q17 5 27 17.5t10 29.5v136q0 21.43-16 35.71Q784-143 763-145ZM255-600l70-70-17.16-74H218q5 38 14 73.5t23 70.5Zm344 344q35.1 14.24 71.55 22.62Q707-225 744-220v-90l-75-16-70 70ZM255-600Zm344 344Z"
            />
          </svg>
          <span>Phone: {{userData.phone}}</span>
        </p>
        <p class="text-gray icon-text">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="20px"
            viewBox="0 -960 960 960"
            width="20px"
            fill="undefined"
          >
            <path
              d="M168-192q-29.7 0-50.85-21.16Q96-234.32 96-264.04v-432.24Q96-726 117.15-747T168-768h624q29.7 0 50.85 21.16Q864-725.68 864-695.96v432.24Q864-234 842.85-213T792-192H168Zm312-240L168-611v347h624v-347L480-432Zm0-85 312-179H168l312 179Zm-312-94v-85 432-347Z"
            />
          </svg>
          {{userData.email}}
        </p>
        <p class="text-gray icon-text">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="20px"
            viewBox="0 -960 960 960"
            width="20px"
            fill="undefined"
          >
            <path
              d="M480.21-480Q510-480 531-501.21t21-51Q552-582 530.79-603t-51-21Q450-624 429-602.79t-21 51Q408-522 429.21-501t51 21ZM480-191q119-107 179.5-197T720-549q0-105-68.5-174T480-792q-103 0-171.5 69T240-549q0 71 60.5 161T480-191Zm0 95Q323.03-227.11 245.51-339.55 168-452 168-549q0-134 89-224.5T479.5-864q133.5 0 223 90.5T792-549q0 97-77 209T480-96Zm0-456Z"
            />
          </svg>
          <span>Location: {{userData.location}}</span>
        </p>
      </div>
      <div class="section-info">
        <h2 class="section-title">Languages</h2>
        <div class="badge-container" >
            <app-badge class="blue" *ngFor="let languageText of userData.languages" [badgeText]="languageText" [iconName]="'language'" [colorClass]="'blue'"></app-badge>     
        </div>
      </div>
    </div>

    <div class="user-info">
      <div class="section-info">
        <h2 class="section-title">Bio</h2>
        <p class="text-gray">{{userData.bio}}</p>
      </div>

      <div class="section-info">
        <h3 class="section-title">Occupation</h3>
        <p class="text-gray">{{userData.occupation}}</p>
      </div>

      <div class="section-info">
        <h2 class="section-title">Interests</h2>
        <div class="badge-container">
          <app-badge *ngFor="let InterestText of userData.interests" [badgeText]="InterestText" [colorClass]="'green'"></app-badge>
        </div>
      </div>
    </div>
  </div>
  <div class="profile-activities">
    <h2 class="section-title">My Activities</h2> 
    <app-activity-card *ngFor="let activity of userData.activities" [activity]="activity" [showActionButtons]="true"></app-activity-card>
  </div>
</div>
