/* Estilo general del contenedor */
.activity-card {
    /*background-color: white;  bg-white */
    background-color: rgb(249, 250, 251);
    border-radius: 0.5rem; /* rounded-lg */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* shadow-md */
    overflow: hidden; /* overflow-hidden */
    width: 100%; /* w-full */
    padding: 1rem;
    position: relative;
  }
  /* Badge superior izquierdo */
  .activity-badge {
    position: absolute; /* absolute */
    top: 0; /* top-0 */
    left: 0; /* left-0 */
    background-color: #3b82f6; /* bg-blue-500 */
    color: white; /* text-white */
    padding: 0.25rem 0.75rem; /* px-3 py-1 */
    font-size: 0.875rem; /* text-sm */
  }
  
  /* Título de la actividad */
  .activity-title {
    font-size: 20px; /* text-xl */
    font-weight: 600; /* font-semibold */
    margin-bottom: 0.5rem; /* mb-2 */
    margin-top: 1rem; /* mt-4 */
  }
  
  /* Contenedor de información adicional */
  .activity-info {
    display: flex; /* flex */
    flex-direction: column; /* flex-col */
    gap: 0.5rem; /* space-y-2 */
    color: #4b5563; /* text-gray-600 */
  }
  
  /* Iconos e información adicional */
  .activity-info-item {
    display: flex; /* flex */
    align-items: center; /* items-center */
    color: #4b5563; /* text-gray-600 */
  }
  
  .activity-info-item svg {
    margin-right: 0.5rem; /* mr-2 */
  }
  
  /* Descripción de la actividad */
  .activity-description {
    color: #4b5563; /* text-gray-600 */
    margin-top: 0.5rem; /* mt-2 */
    margin-bottom: 0.5rem; /* mb-2 */
  }
  
  /* Contenedor inferior */
  .activity-footer {
    display: flex; /* flex */
    justify-content: space-between; /* justify-between */
    align-items: center; /* items-center */
    margin-top: 1rem; /* mt-4 */
  }
  
  /* Texto de participantes */
  .activity-participants {
    font-size: 0.875rem; /* text-sm */
    color: #6b7280; /* text-gray-500 */
  }
  
  .action-buttons{
    display: flex;
    gap: 0.5rem;

  }