<div class="activity-card">
  <span class="activity-badge">
    {{ activity()?.category }}
  </span>
  <div class="activity-info">
    <h3 class="activity-title">{{ activity()?.title }}</h3>
    
      <div class="activity-info-item">
        {{ activity()?.datetime | date : "short" }}
      </div>
      <div class="activity-info-item">
        {{ activity()?.location }}
      </div>
    <p class="activity-description">{{ activity()?.description }}</p>
    <div class="activity-footer">
      <span class="activity-participants"> {{ activity()?.participants }} of {{activity()?.maxParticipants}} participants </span>
      <button *ngIf="!showActionButtons" class="activity-join-button">Join Activity</button>
      <div *ngIf="showActionButtons" class="action-buttons">
        <app-button (click)="test()" [buttonIcon]="'edit'" [buttonText]="'Edit'" [buttonClass]="'edit'"/>
        <app-button [buttonIcon]="'delete'" [buttonText]="'Delete'" [buttonClass]="'danger'"/>
      </div>
    </div>
  </div>
</div>
