/* You can add global styles to this file, and also import other style files */
:root {
  --backgroud-color-ligth-blue: #d1e7ff;
  --text-gray: rgb(100, 110, 120);
  --danger-color: #ef4444;
  --primary-color: #3b82f6;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100vw;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}
.text-gray {
  color: var(--text-gray);
}
@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  src: url(https://example.com/material-symbols.woff) format('woff');
}
